body {
    
    font-family: Arial,  sans-serif;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.login-form {
    box-shadow: 0 4px 6px rgba(0, 0, 0);
    border-radius: 5px;
    padding: 40px;
    background: #fff;
    background: radial-gradient(circle,#ffffff,#ffffffcb);

}